INSTALL
*.in
*.m4
*.sh
*.o
*.lo
*.la
.deps
*.pc
Makefile
*~
.libs
config.h
*.log
build
doc
libtool
*.guess
*.swp
*.status
*.cache
stamp-h1
m4
missing
compile
*.sub
depcomp
*.sh
*-sh
src/omxregister-bellagio
test/components/audio_effects/omxaudiomixertest
test/components/audio_effects/omxvolcontroltest
test/components/resource_manager/omxprioritytest
test/components/resource_manager/omxrmtest
